<div style="background-color: white" class="py-5">
  <div class="container-home text-center">
    <h2> Beautiful. Clean. Responsive.</h2>
    <div class="row justify-content-center" style="margin:0px">
      <div class="col-10 col-lg-3">
        <div class="asset">
          <div class="asset-img">
            <i class="far fa-heart"></i>
          </div>
          <div class="asset-text">
            <h2>Passion</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-10 col-lg-3">
        <div class="asset">
          <div class="asset-img">
            <i class="far fa-lightbulb"></i>
          </div>
          <div class="asset-text">
            <h2>Creativity</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-10 col-lg-3">
        <div class="asset">
          <div class="asset-img">
            <i class="far fa-star"></i>
          </div>
          <div class="asset-text">
           <h2>Quality</h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
