<div class="card-product my-3">
  <img src="<%= @url_image_path %>" />
  <div class="card-product-infos">
    <h3 class="text-left">Product name</h3>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
