<div class="card-product my-3">
  <img src="<%= @url_image_path %>" />
  <div class="card-product-infos">
    <h3 class="text-left"><%= @card_title %></h3>
    <p class="text-left">Quia quibusdam <strong>optio dignissimos incidunt porro</strong> !</p>
  </div>
</div>
