<div style="background-color: #2B4155" class="py-5">
  <div class="container container-home">
    <div class="row justify-content-center">
      <div class="col-6 col-lg-3 py-2 text-white">
        <h2>WHO WE ARE</h2>
      </div>
      <div class="col-6 col-lg-3 py-2 text-white">
        <h2>LATEST WORKS</h2>
      </div>
      <div class="col-6 col-lg-3 py-2 text-white">
        <h2>GET IN TOUCH</h2>
      </div>
      <div class="col-6 col-lg-3 py-2 text-white">
        <h2>FREE UPDATES</h2>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Email" aria-label="Email">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Update me!</button>
        </form>
      </div>
    </div>
  </div>
</div>
