<div class="bg-white py-5">
  <div class="container">
    <div class="row justify-content-center py-2">
      <div class="col-10 col-lg-6 align-items-center text-center">
        <img class="portfolio-image" src="https://source.unsplash.com/random/500x400" alt="Card image cap">
      </div>
      <div class="col-10 col-lg-6 align-items-center pt-3 pt-lg-5" data-aos="fade-up" data-aos-easing="linear">
        <h4>Fully flexible user interface</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam et, impedit, placeat voluptate dolores labore quibusdam dolore mollitia amet quisquam reiciendis perferendis dolorem nostrum nobis eveniet nisi, earum illo ea.
        <p><%= link_to "Click here", "#" %></p>
      </div>
    </div>
    <div class="row justify-content-center py-2">
      <div class="col-10 col-lg-6 align-items-center order-lg-last text-center">
        <img class="portfolio-image" src="https://source.unsplash.com/random/500x399" alt="Card image cap">
      </div>
      <div class="col-10 col-lg-6 align-items-center pt-3 pt-lg-5" data-aos="fade-up" data-aos-easing="linear">
        <h4>Over 14,000 designs available</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga voluptatem placeat recusandae corrupti cupiditate similique aliquid, ut modi vero commodi voluptate, provident libero ea. Beatae illo, saepe dolorem maiores consequuntur!
        <p><%= link_to "Click here", "#" %></p>
      </div>
    </div>
    <div class="row justify-content-center py-2">
      <div class="col-10 col-lg-6 align-items-center text-center">
        <img class="portfolio-image" src="https://source.unsplash.com/random/499x400" alt="Card image cap">
      </div>
      <div class="col-10 col-lg-6 align-items-center pt-3 pt-lg-5" data-aos="fade-up" data-aos-easing="linear" >
        <h4>Social media made even easier</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe quisquam, assumenda possimus aut aliquam iure quibusdam itaque dolores reiciendis incidunt soluta eveniet delectus aperiam quam maiores, odio magnam. Assumenda, doloremque!
        <p><%= link_to "Click here", "#" %></p>
      </div>
    </div>
  </div>
</div>
