<div class="container container-home py-5 text-center">
  <h2>A Little Bit About Me..</h2>
  <ul class="d-flex align-items-center" style="text-decoration: none;">
    <li>Achievements</li>
    <li>Projects</li>
    <li>Blog Posts</li>
    <li>Current Works</li>
    <li>Hobbies</li>
  </ul>
</div>
