<div class="card m-3" style="width: 18rem;">
  <img class="card-img-top" src="<%= @url_image_path %>" alt="Card image cap">
  <div class="card-body">
    <p class="card-text"><b>Title card </b></p>
    <p class="card-text">Some quick example of card text </p>
  </div>
</div>
