.tab-section {
  &.active {
    display:block;
    opacity: 1;
  }

  &.hidden{
    display:none;
    opacity: 0;
  }
}

.tab-selector {
  border: 1px solid lightgrey;
  // height: 150px;
  width: 150px;
  flex-wrap: wrap;
  // border-radius: 50%;
  display: flex;
  justify-content : center;
  align-items: center;
  padding:8px;
  margin: 8px 16px;
  transition: all 0.7s ease;

  &.active {
    background-color: lightgreen;
  }
}

@media only screen and (min-width: 576px) {
  .tab-selector {
    height: 150px;
    border-radius: 50%;
  }
}
